<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- TinyFx配置节定义 -->
    <section name="tinyFx" type="TinyFx.Configuration.TinyFxSection, TinyFx" />
    <section name="LimitSystem" type="LimitSystem.Client.Configuration.ServiceInfo,LimitSystem.Client" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-GameSpiritSystem.WebAPI-20161110055408.mdf;Initial Catalog=aspnet-GameSpiritSystem.WebAPI-20161110055408;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="WebUrl" value="http://gamespirit.ourgame.com" />
    <add key="Version" value="2016092201" />
    <!-- 证书验证登录 内网  -->
    <add key="RoleAuthUrl" value="http://172.28.14.61:22493/auth/role" />
    <!-- 证书验证登录 外网  -->
    <!--<add key="RoleAuthUrl" value="http://202.108.0.121:22493/auth/role" />-->
    <!--DFS图片服务器-->
    <add key="FastDFSConfigPath" value="Config\FastDFS.config" />
    <add key="FastDFSGroupName" value="g1" />
    <!--缓存服务器地址-->
    <!--↓{aliyu配置-->
    <!--<add key="RedisPath" value="120.27.40.165:6789" />
    <add key="RedisMaxWritePoolSize" value="10" />
    <add key="RedisMaxReadPoolSize" value="5" />
    <add key="RedisDB" value="7" />-->
    <!--↓{内网环境配置-->
    <add key="RedisPath" value="172.28.14.133:6379" />
    <add key="RedisMaxWritePoolSize" value="10" />
    <add key="RedisMaxReadPoolSize" value="5" />
    <add key="RedisDB" value="8" />
    <!--开发7,测试6-->
    <!--内网环境配置}↑-->
    <!--↓{生产环境配置-->
    <!--<add key="RedisPath" value="192.168.2.202:6379" />
    <add key="RedisMaxWritePoolSize" value="10" />
    <add key="RedisMaxReadPoolSize" value="5" />
    <add key="RedisDB" value="10" />-->
  </appSettings>
  <tinyFx>
    <!--数据库操作模块-->
    <data defaultDatabase="GameSpiritSystem" errorLog="Error">
      <connectionStrings>
        <!--<add name="GameSpiritSystem" connectionString="Data Source= 172.28.14.115;Port=3306;Database=GameSpirit;UserId=gamespirit_rw;Password= lq95PfjoSNrTvaHRfweG" providerName="MySql.Data.MySqlClient" encrypt="None" />-->
        <add name="GameSpiritSystem" connectionString="Data Source=172.28.14.119;Database=GameSpirit;UserId=zhaozh;Password=123456" providerName="MySql.Data.MySqlClient" encrypt="None" />
        <!--<add name="GameSpiritSystem" connectionString="Data Source=localhost;Database=GameSpirit;UserId=root;Password=123456" providerName="MySql.Data.MySqlClient" encrypt="None" />-->
      </connectionStrings>
    </data>
    <!--日志模块-->
    <logging defaultCategory="Error">
      <categorys>
        <add name="Error" enabled="true" useThreadPool="true">
          <appenders>
            <add name="textLog" isReplacer="false" throwException="false" />
          </appenders>
        </add>
        <add name="Info" enabled="true" useThreadPool="true">
          <appenders>
            <add name="textInfoLog" isReplacer="false" throwException="false" />
          </appenders>
        </add>
        <add name="Debug" enabled="true" useThreadPool="true">
          <appenders>
            <add name="textDebugLog" isReplacer="false" throwException="false" />
          </appenders>
        </add>
      </categorys>
      <fileAppenders>
        <add name="textInfoLog" filename="~/Logs/{yyyyMMdd}Info.log" append="true" encoding="utf-8" formatter="============{Newline}{TimeStamp}{Newline}{Message}{Newline}" />
        <add name="textLog" filename="~/Logs/{yyyyMMdd}Error.log" append="true" encoding="utf-8" formatter="============{Newline}{TimeStamp}{Newline}{Message}{Newline}" />
        <add name="textDebugLog" filename="~/Logs/{yyyyMMdd}Debug.log" append="true" encoding="utf-8" formatter="============{Newline}{TimeStamp}{Newline}{Message}{Newline}" />
      </fileAppenders>
    </logging>
  </tinyFx>
  <system.web>
    <authentication mode="None" />
    <compilation targetFramework="4.6" />
    <httpRuntime targetFramework="4.6" />
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
<!--ProjectGuid: 405E0698-7C84-401E-9D27-E77145E415AA-->